@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(110, 113, 116, 1) 100%
	);
}

.neumorphism {
	border-radius: 50px;
	background: #dedede;
	box-shadow: 35px 35px 70px #bdbdbd, -35px -35px 70px #ffffff;
}
